<.header>
  Asset <%= @asset.id %>
  <:subtitle>This is a asset record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/assets/#{@asset}/edit"}>
      <.button>Edit asset</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Title"><%= @asset.title %></:item>
  <:item title="Archived"><%= @asset.archived %></:item>
</.list>

<.back navigate={~p"/assets"}>Back to assets</.back>
