psycopg2-binary
pydantic
python-dotenv
typer
beautifulsoup4
requests
rich
uvicorn
sentence-transformers
langchain-community
python-dotenv
psycopg2-binary
lxml
fastapi
uvicorn
openai
sentence-transformers
psycopg2-binary
pydantic
python-dotenv
fastapi[standard]
pytest
pytest-cov
pytest-sugar
ruff