{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <form method="get" action="{% url 'assets' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col">
                        <div class="form-group mb-1">
                            {{ form.term }}
                        </div>
                    </div>

                    <div class="col">
                        <p>Full Text Search Options:</p>
                        <div class="form-group mb-1">
                            <label></label>
                            {{ form.full_text_search }}
                        </div>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="{% url 'assets' %}" class="btn btn-primary">New Search</a>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if assets %}
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset in assets %}        
                        <tr>
                            <td>{{ asset.title }}</td>
                            <td>{{ asset.description|truncatewords:10|slice:"-4" }}...</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

    {% if assets.has_other_pages %}

        <div class="pagination nav">
            {% if assets.has_previous %}
                <a href="?page={{ assets.previous_page_number }}">«</a>

                {% if assets.number > 3 %}
                    <a href="?page=1">1</a>
                    {% if assets.number > 4 %}
                    <span>...</span>
                    {% endif %}
                {% endif %}

            {% endif %}

            {% for num in assets.paginator.page_range %}
                {% if assets.number == num %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% elif num > assets.number|add:'-3' and num < assets.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if assets.has_next %}
                {% if assets.number < assets.paginator.num_pages|add:'-3' %}
                    <span>...</span>
                    <a href="?page={{ assets.paginator.num_pages }}">{{ assets.paginator.num_pages }}</a>
                {% elif assets.number < assets.paginator.num_pages|add:'-2' %}
                    <a href="?page={{ assets.paginator.num_pages }}">{{ assets.paginator.num_pages }}</a>
                {% endif %}

                <a href="?page={{ assets.next_page_number }}">»</a>
            {% endif %}        
        </div>
    {% endif %}   

{% endblock %}

