{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        #map { height: 675px;}
    </style>
    
    <div class="row">
        <div class="container">
            <h2>Map Search</h2>
            <div class="col">                
                <div id="map" name="map"></div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        var map = L.map('map').setView([38.7310156, -96], 5);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map)

    </script>

{% endblock %}
