{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Advanced Search</h2>
            <form target="{% url 'advanced_search' %}" method="get">
                <input type="text" id="term" name="term" placeholder="search term" value="{{ term | default_if_none:'' }}">
                <input type="hidden" id="page" name="page" value="{{ page }}">
            </form>
        </div>
    </div>
    <div class="row">
        
        {% if assets %}
            <div class="col">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset in assets %}
                            <tr>
                                <td> {{ asset.title }}</td>
                                <td> {{ asset.description }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>        
        {% endif %}
    </div>
{% endblock %}